/* Reset App.css as we are using index.css for global styles and component-specific CSS */
html, body, #root, .app {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.app {
  padding-top: 80px; /* Offset for fixed header */
}

@media (max-width: 968px) {
  .app {
    padding-top: 70px; /* Smaller offset for mobile header */
  }
}
